/*
    CSS for the Movie Tracker App
    These styles are for overriding bootstrap
*/
.noLinkStyle {
    color: inherit;
}

.rating i {
    font-size: 2em;
    cursor: pointer;
}

#searchBox {
    width: auto!important;
}